body
{
    background-color: #40ffc0;
    display: revert;
    margin: 0;
    font-family: Arial, sans-serif;
}

a
{
    margin-left: 15px;
}

footer
{
    font-color: #000;
    background-color: #82ffd1;
}

li
{
	text-align: left;
}
.home-icon img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}
header
{
    background-color: #00ffaa;
}
.navbar {
    display: flex;
    align-items: left;
    padding: 20px;
    background-color: #9effdf;
    border-bottom: 1px solid black;
}
.buttons button {
    background-color: #e3f2f3;
    border: 1px solid #ccc;
}
