/* Desktop blue theme */
body {
    background-color: #82b2ff;
}

header {
    background-color: #00eaff;
}

.navbar {
    background-color: #d6fcff;
}

.home-icon img {
    width: 60px;
    height: 60px;
}

.buttons button {
    margin: 5px;
    padding: 5px 10px;
}

footer {
    background-color: #5ef3ff;
}
