/* Mobile blue theme */
body {
    background-color: #82b2ff;
    display: revert;
}

a {
    margin-left: 15px;
}

footer {
    background-color: #5ef3ff;
}

.home-icon img {
    width: 50px;
    height: 50px;
}

header {
    background-color: #00eaff;
}

.navbar {
    background-color: #d6fcff;
}
