/* Mobile green theme */
body {
    background-color: #40ffc0;
    display: revert;
}

a {
    margin-left: 15px;
}

footer {
    background-color: #82ffd1;
}

.home-icon img {
    width: 50px;
    height: 50px;
}

header {
    background-color: #00ffaa;
}

.navbar {
    background-color: #9effdf;
}
