/* Desktop green theme */
body {
    background-color: #40ffc0;
}

header {
    background-color: #00ffaa;
}

.navbar {
    background-color: #9effdf;
}

.home-icon img {
    width: 60px;
    height: 60px;
}

.buttons button {
    margin: 5px;
    padding: 5px 10px;
}

footer {
    background-color: #82ffd1;
}
